[defaults]
host_key_checking = False
inventory = inventory/mycluster/hosts.yaml
remote_user = ubuntu
private_key_file = ~/.ssh/id_rsa
timeout = 30
gathering = smart
fact_caching = memory
stdout_callback = noah_progress
result_format = yaml
deprecation_warnings = False
roles_path = roles:kubespray/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
callback_plugins = plugins/callback

[inventory]
enable_plugins = yaml, ini

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/ansible-%%h-%%p-%%r
pipelining = True
